{#
 # Jinja2 macro which converts Python data structure to Apache format
 #}

{%- macro apache_encode(
      item,
      convert_bools=false,
      convert_nums=false,
      indent="  ",
      level=0,
      quote_all_nums=false,
      quote_all_strings=false,
      type="sections") %}

  {%- if type == "sections" %}
    {%- for c in item["content"] %}
      {#- First check if this section has options #}
      {%- if "options" in c -%}
        {{ apache_encode(
            c["options"],
            convert_bools=convert_bools,
            convert_nums=convert_nums,
            indent=indent,
            level=level+1,
            quote_all_nums=quote_all_nums,
            quote_all_strings=quote_all_strings,
            type="options") }}
      {%- endif %}

      {%- set is_empty = [] %}

      {#- Check if this section has some sub-sections #}
      {%- if "sections" in c %}
        {%- for s in c["sections"] %}

          {#- Check for empty sub-sections #}
          {%- for i in s["content"] %}
            {%- if ('options' in i and i['options'] | length > 0) or
                   ('sections' in i and i['sections'] | length > 0) %}
              {%- if is_empty.append(1) %}{% endif %}
            {%- endif %}
          {%- endfor %}

          {%- if is_empty | length > 0 -%}
            {{  indent * level ~ "<" ~ s["name"] ~ (" " ~
                apache_encode(
                  s["param"],
                  convert_bools=convert_bools,
                  convert_nums=convert_nums,
                  indent=indent,
                  level=level+1,
                  quote_all_nums=quote_all_nums,
                  quote_all_strings=quote_all_strings,
                  type="value")
                if "param" in s else "") ~ ">\n" ~
                apache_encode(
                  s,
                  convert_bools=convert_bools,
                  convert_nums=convert_nums,
                  indent=indent,
                  level=level+1,
                  quote_all_nums=quote_all_nums,
                  quote_all_strings=quote_all_strings,
                  type="sections") ~
                indent * level ~ "</" ~ s["name"] ~ ">\n" }}

            {%- if not loop.last -%}
              {{ "\n" }}
            {%- endif %}
          {%- endif %}
        {%- endfor %}
      {%- endif %}

      {%- if not loop.last and
          (
            "options" in c and c["options"] | length > 0 or
            (
              "sections" in c and c["sections"] | length > 0 and
              is_empty | length > 0
            )
          )
      -%}
        {{ "\n" }}
      {%- endif %}
    {%- endfor %}

  {%- elif type == "options" %}
    {%- for o in item -%}
      {%- for key, val in o.iteritems() | sort -%}
        {{  indent * (level-1) ~ key ~ " " ~
            apache_encode(
              val,
              convert_bools=convert_bools,
              convert_nums=convert_nums,
              indent=indent,
              level=level+1,
              quote_all_nums=quote_all_nums,
              quote_all_strings=quote_all_strings,
              type="value") ~ "\n" }}
      {%- endfor %}
    {%- endfor %}

  {%- elif type == "value" %}
    {%- if item in [True, False] or
        convert_bools and (item in ["true", "True", "false", "False"]) %}
      {#- Value is a boolean -#}
      {{ item | lower }}

    {%- elif item is number or
      (convert_nums and (
        item | int | string == item or
        item | float | string == item)) or
      (convert_bools and item in ["true", "True", "false", "False"]) or
      item in [True, False] %}
      {#- Value is a number -#}
      {%- if quote_all_nums -%}
        "{{ item }}"
      {%- else -%}
        {{ item }}
      {%- endif %}

    {%- elif item is string %}
      {#- Value is a string #}
      {%- if quote_all_strings or
          " " in item or
          "\t" in item or
          "\n" in item or
          "\r" in item or
          item == "" -%}

        "{{ item | replace("\\", "\\\\") | replace('"', '\\"') }}"
      {%- else -%}
        {{ item }}
      {%- endif %}

    {%- elif item is not mapping %}
      {#- Value is a list #}
      {%- for v in item -%}
        {{  apache_encode(
              v,
              convert_bools=convert_bools,
              convert_nums=convert_nums,
              indent=indent,
              level=level+1,
              quote_all_nums=quote_all_nums,
              quote_all_strings=quote_all_strings,
              type="value") }}

        {%- if not loop.last -%}
          {{ " " }}
        {%- endif %}
      {%- endfor %}
    {%- endif %}

  {%- endif %}

{%- endmacro %}
