{#
 # Jinja2 macro which converts Python data structure to JSON format
 #}

{%- macro json_encode(
      item,
      convert_bools=false,
      convert_nums=false,
      indent="  ",
      level=0) %}

  {%- if item is mapping %}
    {#- The item is a dict -#}

    {{ "{" }}

    {%- if item | length > 0 -%}
      {{ "\n" }}
    {%- endif %}

    {%- for key, val in item.iteritems() | sort -%}
      {{ indent * (level+1) ~ '"' ~ key ~ '": ' }}{{ json_encode(
        val,
        convert_bools=convert_bools,
        convert_nums=convert_nums,
        indent=indent,
        level=level+1) }}

      {%- if loop.last -%}
        {{ "\n" }}
      {%- else -%}
        {{ ",\n" }}
      {%- endif %}
    {%- endfor -%}

    {%- if item | length > 0 -%}
      {{ indent * level ~ "}" }}
    {%- else -%}
      {{ "}" }}
    {%- endif %}

    {%- if level == 0 -%}
      {{ "\n" }}
    {%- endif %}

  {%- elif item == "null" or item is number or
      (convert_nums and (
        item | int | string == item or
        item | float | string == item)) or
      (convert_bools and item in ["true", "True", "false", "False"]) or
      item in [True, False] %}

    {#- Item is a value of a number, null or boolean -#}

    {{ item | lower }}

  {%- elif item is string %}
    {#- The item is a string -#}

    {{ '"' ~ item ~ '"' }}

  {%- else %}
    {#- The item is a list -#}

    {{ "[" }}

    {%- if item | length > 0 -%}
      {{ "\n" }}
    {%- endif %}

    {%- for val in item -%}
      {{ indent * (level+1) }}{{ json_encode(
          val,
          convert_bools=convert_bools,
          convert_nums=convert_nums,
          indent=indent,
          level=level+1) }}

      {%- if loop.last -%}
        {{ "\n" }}
      {%- else -%}
        {{ ",\n" }}
      {%- endif %}
    {%- endfor -%}

    {%- if item | length > 0 -%}
      {{ indent * level ~ "]" }}
    {%- else -%}
      {{ "]" }}
    {%- endif %}

  {%- endif %}
{%- endmacro %}
